  <a class="item">
    Chatroom
  </a>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="item">
       <i class="coffee icon"></i>
    </div>
    
    <div class="item">
        <div class="ui inverted yellow button">Sign Up</div>
    </div>
        <div class="item">
        <div class="ui inverted primary button">LogIn</div>
    </div>
        <div class="item">
        <div class="ui inverted red button">Sign Up</div>
    </div>
    </div>